version: "2"
services:
  scan:
    image: scan_py:1
    external_links:
     - chrome
    environment:
      - scan_url=www.cyzxn.cn
      - scan_access_token=3f69bd111a27ad41e6b609acb7b68d1f862d795c331840aa0d9a5abb9fbde223
    network_mode: bridge